.container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100vh;
}

.rightSide{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100%;
}